:root, html, body{
  max-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app{
  width: 100%;
  height: 100%;
  background-color: cornflowerblue;
}

.scene-container {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
}

#canvas-scene {
  border-radius: 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 40%;
  margin: auto;
}